*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body
{
    background-color: white;
    font-family: var(--font-family);
}


.middle-essentials
{

    height:100vh;
    display: flex;
    background-color: #212121;

    
}
.middle-essentials h1
{
    font-size:32px;
    margin-left:22px;   
}
.middle-essentials input
{
    padding:10px 16px;
    font-size:18px;
    width:300px;
    border-radius:3px;
    border-color: none;
    border-color:rgb(240, 237, 237);
    margin-left:20px;
}


.middle-essentials p
{
    margin-top:30px;
    margin-left:5px;
    color:white;
}
.middle-essentials a
{
    color:green;
    margin-left:5px;
}
.tosignin
{
  color:white;
  position: relative;


}



.container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: bold;
  display: flex;
  margin-left: 550px;
  position: absolute;


  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 1em;
  margin-top: 210px;
}

.input-container {
  filter: drop-shadow(46px 36px 24px #4090b5)
    drop-shadow(-55px -40px 25px #9e30a9);
  animation: blinkShadowsFilter 8s ease-in infinite;
}
.leftarrow
{
  margin-left: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.input-content {
  display: grid;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding-inline: 1em;
}

.applogo img
{
  margin-left: 1410px;
  margin-top: 10px;
  width:70px;
  height:70px;
}

.input-content::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(40px);
  -webkit-clip-path: polygon(
    26% 0,
    66% 0,
    92% 0,
    100% 8%,
    100% 89%,
    91% 100%,
    7% 100%,
    0 92%,
    0 0
  );
  clip-path: polygon(
    26% 0,
    66% 0,
    92% 0,
    100% 8%,
    100% 89%,
    91% 100%,
    7% 100%,
    0 92%,
    0 0
  );
  background: rgba(122, 251, 255, 0.5568627451);
  transition: all 1s ease-in-out;
}
.input-dist h1
{
  color:white;
  margin-top: -100px;
 
 
}

.input-content::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  
  box-shadow: inset 0px 0px 20px 20px #212121;
  background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      rgba(64, 144, 181, 0.6) 1px,
      rgb(0, 0, 0) 3px,
      hsl(295, 60%, 12%) 5px,
      #153544 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      hsl(295, 60%, 12%) 100%,
      hsla(295, 60%, 12%, 0.99) 100%
    );
  -webkit-clip-path: polygon(
    26% 0,
    31% 5%,
    61% 5%,
    66% 0,
    92% 0,
    100% 8%,
    100% 89%,
    91% 100%,
    7% 100%,
    0 92%,
    0 0
  );
  clip-path: polygon(
    26% 0,
    31% 5%,
    61% 5%,
    66% 0,
    92% 0,
    100% 8%,
    100% 89%,
    91% 100%,
    7% 100%,
    0 92%,
    0 0
  );
  animation: backglitch 50ms linear infinite;
}

.input-dist {
  z-index: 80;
  display: grid;
  align-items: center;
  text-align: center;
  width: 100%;
  padding-inline: 1em;
  padding-block: 1.2em;
  grid-template-columns: 1fr;
}

.input-type {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1em;
  font-size: 1.1rem;
  background-color: transparent;
  width: 100%;
  border: none;
}

.input-is {
  color: #fff;

  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  transition: all 1s ease-in-out;
  border-bottom: 1px solid hsl(221, 26%, 43%);
}
.input-is::placeholder
{
  font-size: 1.2rem;

}

.input-is:hover {
  transition: all 1s ease-in-out;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(102, 224, 255, 0.2) 27%,
    rgba(102, 224, 255, 0.2) 63%,
    transparent 100%
  );
}

.input-content:focus-within::before {
  transition: all 1s ease-in-out;
  background: hsla(0, 0%, 100%, 0.814);
}

.input-is:focus {
  outline: none;
  border-bottom: 1px solid hsl(192, 100%, 100%);
  color: hsl(192, 100%, 88%);
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(102, 224, 255, 0.2) 27%,
    rgba(102, 224, 255, 0.2) 63%,
    transparent 100%
  );
}

.input-is::-moz-placeholder {
  color: hsla(192, 100%, 88%, 0.806);
}

.input-is::placeholder {
  color: hsla(192, 100%, 88%, 0.806);
}
.error-message 
{
  color:red;
  width:700px;
  margin-bottom: 20px;
}

.submit-button {
  width: 50%;
  border: none;
  color: hsla(192, 100%, 88%, 0.806);
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(102, 224, 255, 0.2) 27%,
    rgba(102, 224, 255, 0.2) 63%,
    transparent 100%
  );
  clip-path: polygon(0 0, 85% 0%, 100% 0, 100% 15%, 100% 90%, 91% 100%, 0 100%);
  padding: 0.5em;
  animation: blinkShadowsFilter 0.5s ease-in infinite;
  transition: all 500ms;
  margin-top: 20px;
  margin-left: 80px;
  padding-bottom: 20px;
}
.googlebutton
{
  cursor:pointer;
  margin-left: 50px;
  margin-top: 20px;
  color:white;
}

.submit-button:hover {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
}

@keyframes backglitch {
  0% {
    box-shadow: inset 0px 20px 20px 30px #212121;
  }

  50% {
    box-shadow: inset 0px -20px 20px 30px hsl(297, 42%, 10%);
  }

  to {
    box-shadow: inset 0px 20px 20px 30px #212121;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(-50%, 20%);
  }

  50% {
    transform: rotate(180deg) translate(40%, 10%);
  }

  to {
    transform: rotate(360deg) translate(-50%, 20%);
  }
}

@keyframes blinkShadowsFilter {
  0% {
    filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706))
      drop-shadow(-55px -40px 28px #9e30a9);
  }

  25% {
    filter: drop-shadow(46px -36px 24px rgba(64, 144, 181, 0.8980392157))
      drop-shadow(-55px 40px 24px #9e30a9);
  }

  50% {
    filter: drop-shadow(46px 36px 30px rgba(64, 144, 181, 0.8980392157))
      drop-shadow(-55px 40px 30px rgba(159, 48, 169, 0.2941176471));
  }

  75% {
    filter: drop-shadow(20px -18px 25px rgba(64, 144, 181, 0.8980392157))
      drop-shadow(-20px 20px 25px rgba(159, 48, 169, 0.2941176471));
  }

  to {
    filter: drop-shadow(46px 36px 28px rgba(64, 144, 181, 0.3411764706))
      drop-shadow(-55px -40px 28px #9e30a9);
  }
} 
@media (max-width: 480px) {
  .middle-essentials
{

    height:390.2vh;
    display: flex;
    width:390.2vw;
    background-color: #212121;  
}
.input-container
{
  margin-top: 50rem;
  width:35rem;
  height:35rem;
  display: flex;
  justify-content: center;
  
}
.applogo img
{
  margin-left: 1410px;
  margin-top: 25px;
  width:150px;
  height:150px;

}

.loginh1
{
  font-size: 300px;
}
.tosignin
{
  margin-top: -50px;
}
.leftarrow
{
  margin-left: 10px;
  cursor: pointer;
  margin-top: 10px;
  width:70px;
  height:10px;
}
}
@media (min-width: 480px) and (max-width: 639px) {
  .middle-essentials
  {
  
      height:390.2vh;
      display: flex;
      width:390.2vw;
      background-color: #212121;  
  }
  .input-container
{
  margin-top: 50rem;
  width:50rem;
  height:50rem;
  display: flex;
  justify-content: center;
  
}

.applogo img
{
  margin-left: 1590px;
  margin-top: 25px;
  width:150px;
  height:150px;

}

.loginh1
{
  font-size: 10.9rem;
}
.tosignin
{
  margin-top: -50px;
}
.leftarrow
{
  margin-left: 15px;
  cursor: pointer;
  margin-top: 20px;
  width:70px;
  height:10px;
}
.input-is::placeholder
{
  font-size: 2.2rem;

}

}
@media (min-width: 640px) and (max-width: 767px) {
    .middle-essentials
    {
    
        height:390.2vh;
        display: flex;
        width:390.2vw;
        background-color: #212121;  
    }
    .input-container
  {
    margin-top: 50rem;
    width:50rem;
    height:50rem;
    display: flex;
    margin-left: 20rem;
    justify-content: center;
    
  }
  
  .applogo img
  {
    margin-left: 2290px;
    margin-top: 25px;
    width:150px;
    height:150px;
  
  }
  
  .loginh1
  {
    font-size: 10.9rem;
  }

  .leftarrow
  {
    margin-left: 15px;
    cursor: pointer;
    margin-top: 20px;
    width:70px;
    height:10px;
  }
  .input-is::placeholder
  {
    font-size: 2.1rem;
  
  }
  .input-dist
  {
    height: 40rem;
    width: 30rem;
  }
  .submit-button
  {
    font-size: 2rem;
  }
  .googlebutton
  {
    height: 10rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .middle-essentials
  {
  
      height:390.2vh;
      display: flex;
      width:390.2vw;
      background-color: #212121;  
  }
  .input-container
{
  margin-top: 40rem;
  width:65rem;
  height:60rem;
  display: flex;
  margin-left: 25rem;
  justify-content: center;
  
}

.applogo img
{
  margin-left: 2790px;
  margin-top: 25px;
  width:150px;
  height:150px;

}

.loginh1
{
  font-size: 10.9rem;
}

.leftarrow
{
  margin-left: 15px;
  cursor: pointer;
  margin-top: 20px;
  width:70px;
  height:10px;
}
.input-is::placeholder
{
  font-size: 2.3rem;

}
.input-dist
{
  height: 40rem;
  width: 30rem;
}
.submit-button
{
  font-size: 2.5rem;
}
.googlebutton
{
  height: 10rem;
}
}




